<div class="col-md-12 col-sm-12">
    <div class="card">
       <div class="card">
               <div class="cover">
                   <img src="../../../assets/images/rotating_card_thumb3.png">
               </div>
               <div class="user">
                   <img class="img-circle" src={{peronne.path|defaultImage}}>
               </div>
               <div class="content">
                   <div class="main">
                       <h3 class="name">{{peronne.firstname}} {{peronne.name}}</h3>
                       <p class="profession">{{peronne.job}}</p>
                       <p class="text-center">"I'm the new Sinatra, and since I made it here I can make it anywhere, yeah, they love me everywhere"</p>
                   </div>
               </div>
               <button style="width: 150px; align-items: center;margin: auto;" (click)="deleteCv()" class="btn btn-danger">
                Supprimer CV
               </button>
       </div> <!-- end card -->
   </div> <!-- end card-container -->
</div>